:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2vh;
    line-height: 1vh;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #FFFFFF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #FCFEFD;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.menu-box {
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 100vh;
    width: 80vw;
    background-color: #E9F3FF;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 7vh;
    margin-bottom: 5vh;
}

.menu li {
    width: 15vw;
    height: 6.5vh;
    background-color: #E9F3FF;
    margin-top: 5vh;
    border-radius: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    color: #3F8CFE;
    box-shadow: 0 2px 6px rgb(135, 161, 191);
    cursor: pointer;
}

.module {
    width: 70vw;
    height: 80vh;
}

.module .hello {
    font-size: 4vh;
    font-weight: normal;
}

.function {
    margin-top: 8vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.left-function {
    height: 75vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.function1 {
    width: 100%;
    height: 28vh;
    background-color: #41C88E;
    border-radius: 2.5vh;
    color: #FCFEFD;
    padding-top: 5vh;
    padding-left: 5vw;
}

.function1 .time-title {
    font-size: 3vh;
}

.function1 .time {
    font-weight: bold;
    font-size: 10vh;
    margin-top: 7vh;
}

.function1 .tip {
    font-size: 2vh;
     margin-top: 7vh;

}

.function2 {
    width: 100%;
    height: 40vh;
    background-color: #FDBE6C;
    border-radius: 2.5vh;

}

.function2 .function2-char {
    margin-top: 7vh;
    margin-left: 1.4vw;
    width: 35vw;
    height: 30vh;
}

.function3 {
    width: 25vw;
    height: 75vh;
    background-color: #75B9F2;
    border-radius: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FCFEFD;
}

.function3 .count {
    font-weight: bold;
    font-size: 12vh;
    margin-top: 11vh;

}

.function3 .water {
    margin-top: 9vh;
    width: 16vw;
    height: 35vh;
    background-color: #FCFEFD;
    border-radius: 50%;
}

.function3 .button {
    width: 12vw;
    height: 6vh;
    background-color: #41C88E;
    margin-top: 6vh;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    cursor: pointer;
}


