:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 2vh;
    line-height: 1vh;
    font-weight: 400;
    color: #0f0f0f;
    background-color: #FFFFFF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #FCFEFD;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

.box {
    height: 100vh;
    width: 80vw;
    background-color: #E9F3FF;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}






